*.iml
.idea
.temp
*.iws
*.log
*.cache
.DS_Store
*.n
*.js
*.js.map
*.zip
.haxelib/
out/
node_modules/
log/
dump/
callgrind.*
./debug
lcov.info
.unittest/
codecov.json
coverage.json
core
demo/
.refactorCache
off
todo*
TODO*
cmd.txt
